<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= render 'shared/search_bar' %></li>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    </ul>
  </nav>
</div>

<div class="row">
  <section class="comment_form">
    <%= render 'shared/comment_form' %>
  </section>
</div>

  <div class="col-md-8">
    <% if @status.statuses.any? %>
      <h3>Comments (<%= @status.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
